<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Page</title>
    <link rel="stylesheet" href="../static/css/update_style.css">
</head>
<body>

    <!-- Return button -->
    <a href="index.html" class="return-button">Return</a>

    <div class="container">
        <h1>Updates</h1>
        <ul>
            <li>September 10, 2024 - Added feature X</li>
            <li>August 5, 2024 - Fixed bug Y</li>
            <li>July 20, 2024 - Optimized page load speed</li>
        </ul>
    </div>

</body>
</html>

